<!DOCTYPE html>
<html>
  <head>
    <title>Corn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1 style = " background-color:orange">Header</h1><br>
      <h1>Deshbord</h1>
      <% if user_signed_in? %>
        <%= link_to "sign out", destroy_user_session_path , :method => "delete"%>
      <% else %>
        <%= link_to "sign up", new_user_registration_path %>
        <%= link_to "sign in", new_user_session_path %>
      <% end %>

    <div>
    <%= yield %>
    <br>
        <%= link_to "new post", new_post_path %>

      <h1 style = " background-color:blue; bottom: 0px;">footer</h1>
  </body>
</html>
